.nav a {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://www.surftin.com/images/designer-graphic-design-storyline-webdesigner_318042.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #00ffff;
  font-size: 55px;  
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 25px;
  color: #DC143C;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: '"Arial Black", Gadget, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.learn-more a {
  color: #00b0ff;
}
.neighborhood-guides{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}
.neighborhood-guides h2{
    color: #393c3d;
    font-size: 24px;
}
.neighborhood-guides p{
     font-size: 15px;
    margin-bottom: 13px;    
}
h1, h2 {
  
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif 
}
